.navbar-bebe {
  justify-content: space-between;
  border-bottom: $black solid 4px;
  padding: 0.5rem 1rem 0rem 1rem;
  button{
    border: none
  }
}

.navbar-bebe .navbar-collapse {
  flex-grow: 0;
}

.navbar-bebe .navbar-brand img {
  width: 40px;
}
